@charset "utf8";

*{
    box-sizing: border-box;
    margin: 0;
}


.login-wrap{
    position: relative;
    width: 100%;
    height: 100vh;
}

#loginForm{
    position: absolute;
    top: 45%; left: 50%;
    transform: translate(-50%, -50%);
}

.id-wrap{
    position: relative;
    width: 350px;
    height: 60px;
    margin-bottom: 8px;
}

.loginBtn-wrap{
    width: 350px;
    height: 50px;
}

/* #email-input{
    display: block;
    font-size: 15px;
    width: 75%;
    height: 100%;
    padding: 15px 5px 0px 8px;
    margin-bottom: 5px;
    color: #444444;
    border: 1px solid #fff ;
    border-radius: .5rem;
    outline: 0;
}

#loginBtn{
    width: 20%;
    height: 100%;
    font-size: 17px;
    margin-top: 5px;
    color: #fff;
    background-color: rgb(255, 93, 93); ;
    border: 1px solid #fff;
    border-radius: .5rem;
    outline: 0;
    cursor: pointer;
    transition: 0.3s ease;
} */

#email-input{
    display: block;
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 15px 5px 0px 8px;
    margin-bottom: 5px;
    color: #444444;
    border: 1px solid #fff ;
    border-radius: .5rem;
    outline: 0;
}

#loginBtn{
    width: 100%;
    height: 100%;
    font-size: 17px;
    margin-top: 5px;
    color: #fff;
    background-color: rgb(255, 93, 93); ;
    border: 1px solid #fff;
    border-radius: .5rem;
    outline: 0;
    cursor: pointer;
    transition: 0.3s ease;
}


#loginBtninMain{
    width: 100%;
    height: 100%;
    font-size: 17px;
    margin-top: 5px;
    color: #fff;
    background-color: rgba(0,100,255); ;
    border: 1px solid #fff;
    border-radius: .5rem;
    outline: 0;
    cursor: pointer;
    transition: 0.3s ease;
}

#loginBtn:hover{
    background-color: rgb(255, 255, 255); ;
    color: rgb(0, 0, 0);
}

.phTxt_email{
    position: absolute;
    top: 50%; left: 10px;
    transform: translate(0, -50%);
    font-size: 23px;
    color: #444444;
    transition: 0.3s ease;
    vertical-align: top;
    user-select: none;
    z-index: 10;
    cursor: text;
}

#input{
    font-size: 15px;
    width: 65%;
    height: 100%;
    padding: 5px 5px 5px 8px;
    margin-bottom: 5px;
    color: #444444;
    border: 1px solid #fff ;
    border-radius: .5rem;
    outline: 0;
}

#cancelIDBtn{
    width: 13%;
    height: 100%;
    font-size: 17px;
    /* margin-top: 5px; */
    color: #fff;
    background-color: rgb(255, 93, 93); ;
    border: 1px solid #fff;
    border-radius: .5rem;
    outline: 0;
    cursor: pointer;
    transition: 0.3s ease;
}

#saveIDBtn{
    width: 13%;
    height: 100%;
    font-size: 17px;
    /* margin-top: 5px; */
    color: #fff;
    background-color: rgb(255, 93, 93); ;
    border: 1px solid #fff;
    border-radius: .5rem;
    outline: 0;
    cursor: pointer;
    transition: 0.3s ease;
}

/* #change_id_input{
    width: 95%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: .5rem;
} */