#row {
	margin: 0;
}
.container {
}

.test_box {
	padding: 0;
    position: relative;
}
.test_box .inner {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}
.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.test_box .inner .test_click:hover {
	background-color: rgba(0,100,255,.5); 
	mix-blend-mode: hard-light;
}
.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}
.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_link {
	border: 2px solid #fff;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
	visibility: hidden;
}

.test_box .inner .test_click:hover .test_link {
	border: 2px solid rgb(255, 255, 255);
	display: inline-block;
    font-size: 100%;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
	visibility: visible;
    height: 35%;
	width: 65%;
}

/**/

.test_box2 {
	padding: 0;
    position: relative;
}

.test_box2 .inner_2 {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
    position: absolute;
}
.test_box2 .test_click_2 {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
    margin: 10px;
    height: 300px;
    width: 240px;
    
    position: inherit;
}
.test_box2 .test_click_2:hover {
	background-color: rgba(0,100,255,.5); 
	mix-blend-mode: hard-light;
    margin: 10px;
}

.test_box2 .test_click_2:hover .flex_this {
	margin-top: -5px;
    margin: 10px;
}

.test_box2 .test_click_2:hover .test_link {
	border: 2px solid #fff;
	display: inline-block;
    font-size: 100%;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
	visibility: visible;
    height: 35%;
	width: 70%;
}


.test_box .inner_2 {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
    position: absolute;
}
.test_box .test_click_2 {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
    margin: 10px;
    height: 300px;
    width: 240px;
    
    position: inherit;
}
.test_box .test_click_2:hover {
	background-color: rgba(0,100,255,.5); 
	mix-blend-mode: hard-light;
    margin: 10px;
}

.test_box .test_click_2:hover .flex_this {
	margin-top: -5px;
    margin: 10px;
}

.test_box .test_click_2:hover .test_link {
	border: 2px solid #fff;
	display: inline-block;
    font-size: 100%;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
	visibility: visible;
    height: 35%;
	width: 70%;
}

/**/

.box-01 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.box-01 .inner_2 {
	background: url('#');
	background-position: 50% 50%;
	background-size: cover;
}

.box-02 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-03 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-04 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-05 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-06 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.box-07 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-08 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.box-09 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.box-10 .inner {
	background-image: url('#');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.button {
	border: none;
  }
  
  .login_Main {
    border-radius: 50%;
    background-color: white;
}

body,html,h1,h2,p, div,video,a,img,header,footer,span,section{
    margin: 0;
    padding: 0;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

footer,header{
    background: rgb(255, 255, 255); color: #000000;  text-align: center; padding: 2em 0 0 6em;
}

*{box-sizing: border-box;}
body{position: relative;}
a{
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

*{box-sizing: border-box;}

::-webkit-input-placeholder{
    color: #ffa3a3;
}
::-moz-placeholder{
    color: #ffa3a3;
}

#popup-rectangle{
	height: 480px;
    width: 450px;
    background: rgb(255, 93, 93);
    box-shadow: 0 0 15px 5px #222;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1101;
    overflow: hidden;
}

#popup-overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top:0;
    left: 0;
    z-index: 1202;
    transition: .2s all ease-in-out;
}
.popup-hide{
    opacity: 0;
    visibility: hidden;
}
.popup-show{
    opacity: 1;
    visibility:visible;
}
.rect{
    height: 100%;
    width: 90%;
    top: 15%;
    margin: 0 auto;
    padding: .5rem;
    position: relative;
}
.rect h1, .rect p{
    font-family: "Open Sans";
    text-align: center;
    line-height: 1.3;
    color:white;
}
.rect h1{
    font-size: 3rem;
}
.rect h1+p:nth-child(2){
    margin-bottom: 5px;
}
.rect h1+p:nth-child(2)+p{
    font-size: .9rem;
}
.rect form{
    text-align: center;
}

#change_id{
}
.hide{
    opacity: 0;
    display:block;
}
.show{
    opacity: 1;
    display:none;
}

#change_id_input{
}
.hide{
    opacity: 0;
    display:block;
}
.show{
    opacity: 1;
    display:none;
}
